@font-face {
  font-family: "Leitura";
  src: url("./leitura.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  src: url("./lato.ttf") format("truetype");
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bottom-gradient {
  width: 100%;
  height: 400px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
  mix-blend-mode: soft-light;
}

.top-gradient {
  width: 100%;
  height: 200px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
  mix-blend-mode: overlay;
}

.container h1 {
  color: white;
  line-height: 0.7;
  font-family: "Leitura";
  width: 100%;
  text-align: center;
  font-size: 50px;
  position: relative;
}

.container span {
  color: white;
  font-family: "Lato";
  width: 100%;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 1px;
}

.app {
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  position: relative;
}
